alias h='cd ~ && ls -a'
alias uu='cd $REMOTES && ls -a'
alias ug='cd $REMOTES/ugd && ls -a'
alias wo='cd $WORK/covidalert && ls -a'
alias bk='cd $BOOKS && ls -a'
alias ba='cd $BACKUPS && ls -a'
alias cc='cd $CLASS/2021-1 && ls -a'
alias ci='cd $CLASS/2021-1/ISII && ls -a'
alias cG='cd $CLASS/2021-1/GERENCIA && ls -a'
alias cD='cd $CLASS/2021-1/DBII && ls -a'
alias cA='cd $CLASS/2021-1/AUDITII && ls -a'
alias L='cd $LEARN && ls -a'
alias lh='cd $LEARN/Hack && ls -a'
alias tt='cd $TRASH && ls -a'
alias T='cd $HOME/Downloads/torrents && ls -a'
alias sk='cd $SUCKLESS && ls -a'
alias bl='cd $BOOKS/LN && ls -a'
alias cf='cd $XDG_CONFIG_HOME && ls -a'
alias sp='cd $XDG_CONFIG_HOME/nvim/my_snippets && ls -a'
alias ms='cd $SCRIPTS && ls -a'
alias mo='cd $OS && ls -a'
alias mO='cd $OS/build && ls -a'
alias mu='cd $UTILITIES && ls -a'
alias mf='cd $FILES && ls -a'
alias md='cd $FILES/virtual/docker-compose && ls -a'
alias ma='cd $AUTOMATION && ls -a'
alias mp='cd $APPS && ls -a'
alias ml='cd $MLIBS && ls -a'
alias pr='cd $PROGRAMS && ls -a'
alias D='cd ~/Downloads && ls -a'
alias d='cd ~/Documents && ls -a'
alias pp='cd ~/Pictures && ls -a'
alias vv='cd ~/Videos && ls -a'
alias Mm='cd ~/Master && ls -a'
alias Md='cd ~/Master/Debug && ls -a'
alias Ml='cd ~/Master/Learn && ls -a'
alias Mp='cd $PROJECTS && ls -a'
alias Mv='cd $VOLUMES && ls -a'
alias Mc='cd $CLASS && ls -a'
alias Mw='cd $WORK && ls -a'
alias wa='cd $WALL && ls -a'
alias wi='cd $WIKI && ls -a'
alias wp='cd $WIKI/personal && ls -a'
alias ws='cd $WIKI/cheatsheets && ls -a'
alias mm='cd ~/Music && ls -a'
alias lo='cd ~/.local && ls -a'
alias re='cd /etc && ls -a'
alias rU='cd /usr && ls -a'
alias rus='cd /usr/share && ls -a'
alias rub='cd /usr/bin && ls -a'
alias rui='cd /usr/include && ls -a'
alias rulo='cd /usr/local && ls -a'
alias rulob='cd /usr/local/bin && ls -a'
alias rulos='cd /usr/local/share && ls -a'
alias ruli='cd /usr/lib && ls -a'
alias exp='cd /opt/exploitdb/exploits && ls -a'
alias rv='cd /var && ls -a'
alias rb='cd /bin && ls -a'
alias rr='cd /root && ls -a'
alias ro='cd /opt && ls -a'
alias rmn='cd /mnt && ls -a'
alias sc='cd ~/Pictures/screenshots && ls -a'
alias rtk='cd ~/Books/japanese/heisig && ls -a'
alias l1='cd $LEARN/Docker/Docker\ Mastery/Docker\ Mastery\ with\ Kubernetes\ +Swarm\ from\ a\ Docker\ Captain && ls -a'
alias l2='cd $LEARN/Rust/Learn\ Rust\ by\ Building\ Real\ Applications && ls -a'
alias ld='cd $LEARN/Docker/Docker\ Mastery/Docker\ Mastery\ with\ Kubernetes\ +Swarm\ from\ a\ Docker\ Captain && ls -a'
alias lr='cd $LEARN/Rust/Learn\ Rust\ by\ Building\ Real\ Applications && ls -a'
alias vo='cd $VOLUMES && ls -a'
alias po='cd $PROJECTS && ls -a'
alias pm='cd $PROJECTS/Micro && ls -a'
alias pM='cd $PROJECTS/Main/ && ls -a'
alias p1='cd $PROJECTS/Micro/HTTP-server\ in\ Rust && ls -a'
alias p2='cd $PROJECTS/Micro/Docker && ls -a'
alias aa='cd $CLASS/2021-1/GERENCIA/imp && ls -a'
alias zz='cd $CLASS/2021-1/GERENCIA/licitacion/licitaciones-2021-I/primera\ -\ ejercito\ (sensores\ de\ red) && ls -a'
alias sf="$EDITOR ~/.config/shortcuts/sf"
alias sd="$EDITOR ~/.config/shortcuts/sd"
alias cfe="$EDITOR ~/.emacs.d/init.el"
alias cfz="$EDITOR ~/.config/zsh/.zshrc"
alias cfp="$EDITOR ~/.config/zsh/.zprofile"
alias cfP="$EDITOR ~/.config/picom/picom.conf"
alias cfr="$EDITOR ~/.config/ranger/rc.conf"
alias cfb="$EDITOR ~/.bashrc"
alias cfxx="$EDITOR ~/.Xresources"
alias cfxp="$EDITOR ~/.xprofile"
alias cfv="$EDITOR ~/.config/nvim/init.vim"
alias cfk="$EDITOR ~/.config/sxhkd/sxhkdrc"
alias cfxm="$EDITOR ~/.xmonad/xmonad.hs"
alias cfi="$EDITOR ~/.xinitrc"
alias cfn="$EDITOR ~/.config/newsboat/urls"
alias cfy="$EDITOR ~/.config/youtube-dl/config"
alias cfd="$EDITOR $SUCKLESS/dwm-6.2/config.h"
alias cfs="$EDITOR $SUCKLESS/st-0.8.4/config.h"
alias cn="$EDITOR $UTILITIES/classes/network/typenet"
alias cfa="$EDITOR ~/.config/zsh/.zsh_plugin_aliases"
alias cfmo="$EDITOR $SCRIPTS/os/solus/bootstrap"
alias cfmp="$EDITOR $SCRIPTS/os/solus/packages"
alias cfK="$EDITOR $SCRIPTS/apps/qmk/lily58/keymap.c"
alias cfZ="$EDITOR /root/.config/zsh/.zshrc"
alias cfP="$EDITOR $APPS/nvim/projections/global/.projections.json"
