alias h='cd ~ && ls -a'
alias uu='cd ~/Master/Remotes && ls -a'
alias ug='cd ~/Master/Remotes/ugd && ls -a'
alias wo='cd ~/Master/Work/covidalert && ls -a'
alias bk='cd ~/Documents/Books && ls -a'
alias ba='cd ~/.backups && ls -a'
alias cc='cd ~/Master/Classes/2021-1 && ls -a'
alias ll='cd ~/Master/Learn && ls -a'
alias tt='cd ~/.local/share/Trash/files && ls -a'
alias sk='cd ~/.local/Programs/Suckless && ls -a'
alias bl='cd ~/Documents/Books/LN && ls -a'
alias cf='cd ~/.config && ls -a'
alias sp='cd ~/.config/nvim/my_snippets && ls -a'
alias ms='cd ~/.local/share/myScripts/ && ls -a'
alias mo='cd ~/.local/share/myScripts/os/solus && ls -a'
alias mO='cd ~/.local/share/myScripts/os/solus/Build-Programs && ls -a'
alias mu='cd ~/.local/share/myScripts/utilities && ls -a'
alias md='cd ~/.local/share/myScripts/files/virtual/docker-compose && ls -a'
alias ma='cd ~/.local/share/myScripts/automation && ls -a'
alias oc='cd /usr/share/doc && ls -a'
alias mp='cd ~/.local/share/myScripts/apps && ls -a'
alias mf='cd ~/.local/share/myScripts/files && ls -a'
alias ml='cd ~/.local/share/myScripts/files/mlibs && ls -a'
alias D='cd ~/Downloads && ls -a'
alias d='cd ~/Documents && ls -a'
alias pp='cd ~/Pictures && ls -a'
alias pr='cd ~/.local/Programs && ls -a'
alias vv='cd ~/Videos && ls -a'
alias Mm='cd ~/Master && ls -a'
alias Md='cd ~/Master/Debug && ls -a'
alias Ml='cd ~/Master/Learn && ls -a'
alias Mp='cd ~/Master/Projects && ls -a'
alias Mv='cd ~/Master/Volumes && ls -a'
alias Mc='cd ~/Master/Classes && ls -a'
alias Mw='cd ~/Master/Work && ls -a'
alias mm='cd ~/Music && ls -a'
alias wi='cd ~/.local/share/wiki && ls -a'
alias lo='cd ~/.local && ls -a'
alias re='cd /etc && ls -a'
alias rU='cd /usr && ls -a'
alias rus='cd /usr/share && ls -a'
alias rub='cd /usr/bin && ls -a'
alias rui='cd /usr/include && ls -a'
alias rulo='cd /usr/local && ls -a'
alias ruli='cd /usr/lib && ls -a'
alias rv='cd /var && ls -a'
alias rb='cd /bin && ls -a'
alias rr='cd /root && ls -a'
alias rmn='cd /mnt && ls -a'
alias sc='cd ~/Pictures/screenshots && ls -a'
alias rtk='cd ~/Books/japanese/heisig && ls -a'
alias wa='cd ~/.cache/wal && ls -a'
alias l1='cd ~/Master/Learn/Docker/Docker\ Mastery/Docker\ Mastery\ with\ Kubernetes\ +Swarm\ from\ a\ Docker\ Captain && ls -a'
alias l2='cd ~/Master/Learn/Rust/Learn\ Rust\ by\ Building\ Real\ Applications && ls -a'
alias ld='cd ~/Master/Learn/Docker/Docker\ Mastery/Docker\ Mastery\ with\ Kubernetes\ +Swarm\ from\ a\ Docker\ Captain && ls -a'
alias lr='cd ~/Master/Learn/Rust/Learn\ Rust\ by\ Building\ Real\ Applications && ls -a'
alias vo='cd ~/Master/Volumes && ls -a'
alias po='cd ~/Master/Projects && ls -a'
alias pm='cd ~/Master/Projects/Micro && ls -a'
alias pM='cd ~/Master/Projects/Main/ && ls -a'
alias p1='cd ~/Master/Projects/Micro/HTTP-server\ in\ Rust && ls -a'
alias p2='cd ~/Master/Projects/Micro/Docker && ls -a'
alias aa='cd ~/Master/Classes/2021-1/GERENCIA/imp && ls -a'
alias zz='cd /home/kanon/Master/Classes/2021-1/GERENCIA/licitacion/licitaciones-2021-I/primera\ -\ ejercito\ (sensores\ de\ red) && ls -a'
alias sf="$EDITOR ~/.config/shortcuts/sf"
alias sd="$EDITOR ~/.config/shortcuts/sd"
alias cfe="$EDITOR ~/.emacs.d/init.el"
alias cfz="$EDITOR ~/.config/zsh/.zshrc"
alias cfp="$EDITOR ~/.zprofile"
alias cfr="$EDITOR ~/.config/ranger/rc.conf"
alias cfb="$EDITOR ~/.bashrc"
alias cfxx="$EDITOR ~/.Xresources"
alias cfxp="$EDITOR ~/.xprofile"
alias cfv="$EDITOR ~/.config/nvim/init.vim"
alias cfk="$EDITOR ~/.config/sxhkd/sxhkdrc"
alias cfxm="$EDITOR ~/.xmonad/xmonad.hs"
alias cfi="$EDITOR ~/.xinitrc"
alias cfn="$EDITOR ~/.config/newsboat/urls"
alias cfy="$EDITOR ~/.config/youtube-dl/config"
alias cfd="$EDITOR ~/.local/Programs/Suckless/dwm-6.2/config.h"
alias cfs="$EDITOR ~/.local/Programs/Suckless/st-0.8.4/config.h"
alias cn="$EDITOR ~/.local/share/myScripts/utilities/classes/network/typenet"
alias cr="$EDITOR ~/dev/Work/PPE/pm/researched"
alias cfa="$EDITOR ~/.config/zsh/zsh_plugin_aliases"
alias cfmo="$EDITOR ~/.local/share/myScripts/os/solus/autoInstallSudo\ -E"
alias cfmp="$EDITOR ~/.local/share/myScripts/os/solus/packages"
alias cfl="$EDITOR ~/Master/Projects/Micro/Lily58/qmk_firmware/keyboards/lily58/keymaps/mine-def/keymap.c"
alias cfK="$EDITOR ~/.local/share/myScripts/apps/qmk/lily58/keymap.c"
alias cfZ="$EDITOR /root/.config/zsh/.zshrc"
alias cfP="$EDITOR $APPS/nvim/projections/global/.projections.json"
