alias h='cd ~ && ls -a'
alias ob='cd ~/dev/Work/PPE/tensorflow-api && ls -a'
alias obd='cd ~/dev/Work/PPE/tensorflow-api/models/research/object_detection && ls -a'
alias wo='cd ~/Master/Work && ls -a'
alias bk='cd ~/Documents/Books && ls -a'
alias ba='cd ~/.backups && ls -a'
alias cc='cd ~/Master/Classes/2021-1 && ls -a'
alias ll='cd ~/Master/Learn && ls -a'
alias tt='cd ~/.local/share/Trash/files && ls -a'
alias po='cd ~/Master/Projects && ls -a'
alias ss='cd ~/.local/Programs/Suckless && ls -a'
alias bl='cd ~/Documents/Books/LN && ls -a'
alias cf='cd ~/.config && ls -a'
alias sp='cd ~/.config/nvim/my_snippets && ls -a'
alias ms='cd ~/.local/share/myScripts/ && ls -a'
alias mo='cd ~/.local/share/myScripts/os/solus && ls -a'
alias mO='cd ~/.local/share/myScripts/os/solus/Build-Programs && ls -a'
alias mu='cd ~/.local/share/myScripts/utilities && ls -a'
alias ma='cd ~/.local/share/myScripts/automation && ls -a'
alias doc='cd /usr/share/doc && ls -a'
alias mp='cd ~/.local/share/myScripts/apps && ls -a'
alias D='cd ~/Downloads && ls -a'
alias d='cd ~/Documents && ls -a'
alias pp='cd ~/Pictures && ls -a'
alias pr='cd ~/.local/Programs && ls -a'
alias vv='cd ~/Videos && ls -a'
alias mm='cd ~/Music && ls -a'
alias wi='cd ~/.local/share/wiki && ls -a'
alias lo='cd ~/.local && ls -a'
alias re='cd /etc && ls -a'
alias rU='cd /usr && ls -a'
alias rus='cd /usr/share && ls -a'
alias rub='cd /usr/bin && ls -a'
alias rui='cd /usr/include && ls -a'
alias rulo='cd /usr/local && ls -a'
alias ruli='cd /usr/lib && ls -a'
alias rv='cd /var && ls -a'
alias rb='cd /bin && ls -a'
alias rr='cd /root && ls -a'
alias rmn='cd /mnt && ls -a'
alias sc='cd ~/Pictures/screenshots && ls -a'
alias rtk='cd ~/Books/japanese/heisig && ls -a'
alias lLd='cd ~/Master/Learn/Docker/Docker\ Mastery/Docker\ Mastery\ with\ Kubernetes\ +Swarm\ from\ a\ Docker\ Captain && ls -a'
alias lLr='cd ~/Master/Learn/Rust/Learn\ Rust\ by\ Building\ Real\ Applications && ls -a'
alias sf="$EDITOR ~/.config/shortcuts/sf"
alias sd="$EDITOR ~/.config/shortcuts/sd"
alias cfe="$EDITOR ~/.emacs.d/init.el"
alias cfz="$EDITOR ~/.zshrc"
alias cfp="$EDITOR ~/.zprofile"
alias cfr="$EDITOR ~/.config/ranger/rc.conf"
alias cfb="$EDITOR ~/.bashrc"
alias cfxx="$EDITOR ~/.Xresources"
alias cfxp="$EDITOR ~/.xprofile"
alias cfv="$EDITOR ~/.config/nvim/init.vim"
alias cfk="$EDITOR ~/.config/sxhkd/sxhkdrc"
alias cfxm="$EDITOR ~/.xmonad/xmonad.hs"
alias cfi="$EDITOR ~/.xinitrc"
alias cfn="$EDITOR ~/.config/newsboat/urls"
alias cfy="$EDITOR ~/.config/youtube-dl/config"
alias cfd="$EDITOR ~/.local/Programs/Suckless/dwm-6.2/config.h"
alias cfs="$EDITOR ~/.local/Programs/Suckless/st-0.8.4/config.h"
alias cn="$EDITOR ~/.local/share/myScripts/utilities/classes/network/typenet"
alias cr="$EDITOR ~/dev/Work/PPE/pm/researched"
alias cfa="$EDITOR ~/.config/zshPlugAlias"
alias cfma="$EDITOR ~/.local/share/myScripts/os/solus/autoInstallSudo\ -E"
alias cfmp="$EDITOR ~/.local/share/myScripts/os/solus/packages"
