alias h="cd ~ && ls -a"
alias wo="cd ~/dev/Work/PPE && ls -a"
alias bk="cd ~/Documents/Learn/Must_Read && ls -a"
alias lc="cd ~/Documents/Learn/classes/ && ls -a"
alias utilities="cd ~/.local/bin/Utilities && ls -a"
alias ll="cd ~/Documents/Learn && ls -a"
alias tt="cd ~/.local/share/Trash/files && ls -a"
alias lt="cd ~/Documents/Learn/typing && ls -a"
alias lp="cd ~/Documents/Learn/Projects && ls -a"
alias jp="cd ~/Documents/Learn/Must_Read/japanese/pimsleur/pimsleur-Japones/Pimsleur-JP && ls -a"
alias lss="cd ~/Documents/Suckless && ls -a"
alias lw="cd ~/Documents/Learn/Web/course/test && ls -a"
alias cf="cd ~/.config && ls -a"
alias snippets="cd ~/.config/nvim/my_snippets && ls -a"
alias mss="cd ~/Documents/myScripts/ && ls -a"
alias msu="cd ~/Documents/myScripts/utilities && ls -a"
alias msa="cd ~/Documents/myScripts/automation && ls -a"
alias dev="cd ~/dev && ls -a"
alias wk="cd ~/dev/Work && ls -a"
alias doc="cd /usr/share/doc && ls -a"
alias apps="cd /usr/share/applications && ls -a"
alias D="cd ~/Downloads && ls -a"
alias d="cd ~/Documents && ls -a"
alias p="cd ~/Pictures && ls -a"
alias mu="cd ~/Music && ls -a"
alias vi="cd ~/Videos && ls -a"
alias wi="cd ~/Documents/wiki && ls -a"
alias lo="cd ~/.local && ls -a"
alias re="cd /etc && ls -a"
alias ru="cd /usr && ls -a"
alias rv="cd /var && ls -a"
alias rb="cd /bin && ls -a"
alias mnt="cd /mnt && ls -a"
alias sc="cd ~/Pictures/screenshots && ls -a"
alias sf="$EDITOR ~/.config/shortcuts/sf"
alias sd="$EDITOR ~/.config/shortcuts/sd"
alias sa="$EDITOR ~/Documents/myScripts/solus/autoInstall"
alias cfe="$EDITOR ~/.emacs.d/init.el"
alias cfz="$EDITOR ~/.zshrc"
alias cfp="$EDITOR ~/.zprofile"
alias cfr="$EDITOR ~/.config/ranger/rc.conf"
alias cfb="$EDITOR ~/.bashrc"
alias cfxx="$EDITOR ~/.Xresources"
alias cfxp="$EDITOR ~/.xprofile"
alias cfv="$EDITOR ~/.config/nvim/init.vim"
alias cfk="$EDITOR ~/.config/sxhkd/sxhkdrc"
alias cfm="$EDITOR ~/.xmonad/xmonad.hs"
alias cfi="$EDITOR ~/.xinitrc"
alias cfn="$EDITOR ~/.config/newsboat/urls"
alias cfy="$EDITOR ~/.config/youtube-dl/config"
alias cai="$EDITOR ~/Documents/myScripts/solus/autoInstall"
alias cfd="$EDITOR ~/Documents/Suckless/dwm-6.2/config.h"
