alias books="cd ~/Documents/Learn/Must_Read && ls -a"
alias lc="cd ~/Documents/classes/ && ls -a"
alias utilities="cd ~/.local/bin/Utilities && ls -a"
alias ll="cd ~/Documents/Learn && ls -a"
alias lt="cd ~/Documents/Learn/typing && ls -a"
alias lss="cd ~/Documents/Learn/C/Suckless && ls -a"
alias lo="cd ~/Documents/Learn/myos4/chmaquina && ls -a"
alias lw="cd ~/Documents/Learn/Web/course/test && ls -a"
alias cf="cd ~/.config && ls -a"
alias snippets="cd ~/.config/nvim/my_snippets && ls -a"
alias ms="cd ~/Documents/myScripts/ && ls -a"
alias dev="cd ~/dev && ls -a"
alias work="cd ~/dev/Work && ls -a"
alias doc="cd /usr/share/doc && ls -a"
alias apps="cd /usr/share/applications && ls -a"
alias cs="cd ~/Documents/classes && ls -a"
alias D="cd ~/Downloads && ls -a"
alias d="cd ~/Documents && ls -a"
alias sf="$EDITOR ~/.config/shortcuts/sf"
alias sd="$EDITOR ~/.config/shortcuts/sd"
alias cfe="$EDITOR ~/.emacs.d/init.el"
alias cfz="$EDITOR ~/.zshrc"
alias cfp="$EDITOR ~/.zprofile"
alias cfb="$EDITOR ~/.bashrc"
alias cfx="$EDITOR ~/.Xresources"
alias cfv="$EDITOR ~/.config/nvim/init.vim"
alias cfk="$EDITOR ~/.config/sxhkd/sxhkdrc"
