[user]
	name = Juan Alejandro Bernal
	email = jbernalxyz@gmail.com

[user]
	hide = update-index --assume-unchanged
    unhide = update-index --no-assume-unchanged
	hidden = ! git ls-files -v | grep '^h' | cut -c3-
	signing = key
	signingkey = B7A9B5574B12E12F271D6596F2BC4837D3501299
[author]
	name = Juan Alejandro Bernal
	email = jbernalxyz@gmail.com
[email]
	name = jbernalxyz@gmail.com
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[pager]
	show = less
