*.o
.gitsecret/keys/random_seed
!*.secret
.config/youtube-viewer/api.json.config/rclone/rclone.conf
*.orig
*.o
.local/share/.pass/secret.zip.local/share/.pass/secret.local/share/.pass/secret.local/share/.pass/secret.local/share/.pass/pass.local/share/.pass/pass