[user]
	name = Alejandro Bernal
	email = jbernal@unal.edu.co

[user]
	hide = update-index --assume-unchanged
    unhide = update-index --no-assume-unchanged
	hidden = ! git ls-files -v | grep '^h' | cut -c3-
[author]
	name = Juan Alejandro Bernal
[email]
	name = jbernal@unal.edu.co
