*.o
.gitsecret/keys/random_seed
!*.secret
.config/youtube-viewer/api.json.config/rclone/rclone.conf
*.orig
*.o
.local/share/.pass/secret.zip.local/share/.pass/secret.local/share/.pass/secret.local/share/.pass/secret.local/share/.pass/pass.local/share/.pass/pass.config/rclone/rclone.conf.local/share/.pass/pass.config/proxychains/proxychains.conf.ssh/id_rsa.ssh/id_rsa.pub.ssh/id_work_rsa.ssh/id_work_rsa.pub.ssh/config.ssh/config.ssh/ssh.ssh/ssh.ssh/ssh.local/share/myScripts/utilities/files/convertDocxtoPdf/ilovepdfkey.ngrok2/ngrok.yml.local/share/.pass/pass.local/share/.pass/pass.ngrok2/ngrok.yml.ngrok2/ngrok.yml.ngrok2/ngrok.yml