#to import env variables to dbus
dbus-update-activation-environment --systemd DBUS_SESSION_BUS_ADDRESS DISPLAY XAUTHORITY
# transmission-daemon &
dunst &

fcitx & # for languages
DISPLAY=":0" picom -b
# compton &
sxhkd &
dwmstatus &
wal -R &
# setup monitors
cm

# custom scripts
startupScripts
# lastScheme=$(ls -t "$HOME/.cache/wal/schemes" | sed 1q)
# wal -f "$HOME/.cache/wal/schemes/${lastScheme}"
