#to import env variables to dbus
dbus-update-activation-environment --systemd DBUS_SESSION_BUS_ADDRESS DISPLAY XAUTHORITY
dunst &
fcitx & # for languages
compton &
sxhkd &
~/Documents/myScripts/dwm/status &
wal -R &
