[Unit]
Description=Get anime not availiable elsewhere

[Timer]
Unit=downloadNonAvailiableAnime.service
OnBootSec=1min
OnCalendar=* *-*-* *:*:*
OnUnitActiveSec=200
Persistent=false

[Install]
WantedBy=timers.target
