snippet inl "start programming" Ab
#include <vector>
#include <algorithm>
#include <iterator>
#include <iostream>
using namespace std;

int
main(void)",
{
	ios_base::sync_with_stdio(false);
	$1
}
endsnippet

snippet init "start programming fast" Ab
#include <bits/stdc++.h>
using namespace std;

int
main(void)",
{
	ios_base::sync_with_stdio(false);
	$1
}
endsnippet
