snippet prn "print anything" A
console.log(${1})
endsnippet

snippet prN "trace where errors come from" b
console.trace(${1})
endsnippet

snippet pRN "print a table of objects" b
console.table(${1})
endsnippet

snippet ffn "do function" Ab
function $1 ($2) {
	$3
}
endsnippet

snippet ffN "Description" Ab
$1 = ($2) => {
	$3
}
endsnippet
