[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=station
Path=/home/solus/.local/bin/Station-1.65.0-x86_64.AppImage
Exec=Station-1.65.0-x86_64.AppImage
Icon=/home/solus/Pictures/fb.png
Terminal=false
